.logo {
  width: 60px;
}

.header {
  background-image: url('../images/hyperbeast.jpg');
  height: 100px;
  display: flex;
  border-bottom: red 1px solid;
  position: sticky;
  top: 0px;
  z-index: 20;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-items {
  display: flex;
  list-style: none;
}

.header-link {
  padding: 10px;
  color: green;
  text-decoration: none;
}
